<h1>Showing a todo</h1>

<% if @todo %>
  <p> name: <%= @todo.name %> </p>
  <p> description: <%= @todo.description %> </p>
<% else %>
  <p> Todo not found. </p>
<% end %>
<%= link_to "Show All Todos", todos_path() %>